.Container--DocumentModal {
  width: 70%;
  height: 90%;
  position: absolute;
  top: 3%;
  left: 16%;
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
}

.DocumentModal {
  display: flex;
  justify-content: center;
  align-items: center;
  &__document {
  }
  &__img {
    transform: translateY(19%);
  }
}

.document {
}

.react-pdf__Page__canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  display: block;
}
