@import "../../../styles/variables";

.Container--MenuPannel {
  width: 100%;
  height: 100%;
  background-color: rgba($color-black, 0.6);
  border-radius: 5px;
  padding: 1.5rem;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
}

.container--options {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

.MenuPannel {
  &__options {
    align-self: center;
    grid-row: 1/2;

    &,
    &::before {
      content: "";
      height: 2px;
      width: 70%;
      background-color: #fff;
    }

    &::before {
      display: block;
      width: 100%;
      transform: translateY(0.7rem);
    }
  }
  &__icon {
    height: 4rem;
    position: relative;

    &:hover {
      cursor: pointer;
    }
    &--QA {
      grid-row: 3/4;
    }
    &--Packing {
      grid-row: 4/5;
    }
    &--Harvesting {
      grid-row: 5/6;
    }
    &--Growing {
      grid-row: 6/7;
    }
    &--Maintenance {
      grid-row: 7/8;
    }

    &--Safety {
      height: 4.5rem;
      grid-row: 8/9;
    }
  }
  &__logOut {
    height: 100%;
    grid-row: 12/13;
  }
}

.seperator--MenuPannel {
  content: "";
  height: 2px;
  width: 100%;
  background-color: $color-light-grey;

  &--top {
    grid-row: 2/3;
  }

  &--bottom {
    align-self: center;
    grid-row: 11/12;
  }
}

.btn--MenuPannel {
  align-self: end;
  height: 80%;
  background-color: #107fe7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row: 10/11;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    &,
    &::before {
      content: "";
      height: 2.5px;
      width: 45%;
      background-color: #fff;
      border-radius: 5px;
    }

    &::before {
      width: 100%;
      height: 100%;
      display: block;
      transform: rotate(90deg);
    }
  }
}

.icon__bubble {
  position: absolute;
  width: 7rem;
  height: 4rem;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  left: 5rem;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #000;
    border-left: 0;
    margin-top: -5px;
    margin-left: -5px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
  }
}
