@import "../../../styles/variables";

.Container--ListPannel {
  width: 100%;
  height: 100%;
  background-color: rgba($color-black, 0.8);
  border-radius: 5px;

  -webkit-box-shadow: 6px 6px 27px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 27px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 27px -12px rgba(0, 0, 0, 0.75);

  &:hover {
    -webkit-box-shadow: 6px 6px 27px -12px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 6px 6px 27px -12px rgba(0, 0, 0, 0.9);
    box-shadow: 6px 6px 27px -12px rgba(0, 0, 0, 0.9);
  }
  z-index: 200;
}

.ListPannel {
  display: grid;
  grid-template-rows: 7% 7% 1fr;
  color: $color-white;
  padding: 2rem;
  &__header {
    align-self: center;
    display: flex;
    &__title {
      font-size: 2rem;
    }

    .logo--container {
      margin-left: auto;
      cursor: pointer;
    }
  }
  &__search {
    width: 70%;
    height: 70%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: #2f374d;
    color: rgba($color: $color-white, $alpha: 1);
    font-size: 1.1rem;

    &::placeholder {
      font-size: 1.1rem;
      color: rgba($color: $color-white, $alpha: 0.7);
    }
  }
  &__list {
    padding: 0 1rem;
    overflow-y: scroll;
  }
}
