$color-black: #090a0f;
$color-grey: #2f374d;
$color-blue: #0935fd;
$color-orange: #fd1818;
$color-white: #d9d4da;
$color-green: #35a578;
$color-light-grey: #5b5b5b;

//debug
$debug-red: #84142d;
$debug-grey: #444444;
$debug-gold: #facf5a;
