.Container--DocumentPannel {
  width: 100%;
  height: 100%;
  background-color: rgba(9, 10, 15, 0.8);
  overflow: hidden;
}

.DocumentPannel {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &__page {
    width: 89%;
  }
}

.DocumentPannel__page {
  // transform: translateY(2rem);
}

.center {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
