.Container--DocumentPannel {
  width: 100%;
  height: 100%;
  background-color: rgba(9, 10, 15, 0.8);
}

.DocumentPannel {
  display: flex;
  justify-content: center;
  align-items: center;
  &__document {
    // width: 40vw;
    // height: 40vh;
  }
}
