@import "../../styles/variables";

.modal {
  transition: all 1s;

  padding: 2rem;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 40%;

  &--active {
    bottom: 25%;
    display: block;
  }
  &--deactive {
    bottom: -50%;
    display: none;
  }

  background-color: #10151f;
  border-radius: 5px;

  color: $color-white;
}
